<template name="login">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center mt-3 text-info">Log In</h2>
        </div>
        <div class="col-md-6 offset-md-3 col-10 offset-1">
            <form method="post" id="login-form">
                <input type="text" name="username" id="username" placeholder="User Name" class="form-control mt-3" required>
                <input type="password" name="password" id="password" class="form-control mt-2" placeholder="Password" required>
                <input type="submit" value="Log In" class="btn btn-light btn-lg btn-block mt-2">
            </form>
        </div>
    </div>
</template>