<template name="navbar">
    <header>
        <nav class="navbar navbar-light">
            <a class="navbar-brand" href="#">Todo List</a>
            <span class="navbar-text">
            {{#if currentUser}}
                <button class="btn btn-light logout">Logout</button>
            {{ else }}
                {{#if showLogin}}
                <button class="btn btn-light show-register">Register</button>
                {{else}}
                <button class="btn btn-light show-login">Login</button>
                {{/if}}
            {{/if}}
            </span>
        </nav>
    </header>
</template>